<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <style>
        .ul,.active,.greate2,.middle2,.bad2,.commentcontent,#div1{margin:0;padding: 0;}
        .ul{width: 100%;height: 35px;background-color: lightgray;}
        .ul li{list-style: none;float:left;width:16%;height: 35px;line-height: 35px;text-align: center;cursor: pointer;}
        #div1>div{width:100%;display: none;}
        #div1 .commentcontent{display:block;}
        .active{background-color: red;color:white;}
        .current{color:red}
        .pagelist a{border: 1px solid #CCCCCC;display: inline-block;width: 50px;height: 25px;line-height: 25px;text-align: center;}
    </style>
    <script type="text/javascript" src="__PUBLIC__/Mobile/goodsdetail/js/jquery-1.10.2.min.js"></script>
    <link href="__PUBLIC__/Mobile/goodsdetail/css/mall.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="child_header">
    <!--可以返回到上一个页面，相当于是历史页面-->
    <div class="goback"><a href="javascript:history.back(-1)"><i></i></a></div>
    <div class="current_location"><span>商品评价({$totalcount1})</span></div>
</div>
<input type="hidden" name="gid" value="{$gid}"/>
<ul class="ul">
    <li style="margin: 0;color: #ffffff;" class="active" cosid="0">全部评价({$totalcount1})</li>
    <li style="margin: 0;color: #ffffff;" class="greate2" cosid="1" >好评({$totalcount2})</li>
    <li style="margin: 0;color: #ffffff;" class="middle2" cosid="2">中评({$totalcount3})</li>
    <li style="margin: 0;color: #ffffff;" class="bad2" cosid="3" >差评({$totalcount4})</li>
    <li style="margin: 0;color: #ffffff;" class="img1">有图({$totalcount5})</li>
    <li style="margin: 0;color: #ffffff;" class="zuijia" >追加({$totalcount6})</li>
</ul>
<div id="div1">
    <div class="commentcontent" id="allreview">
        <table border="0" class="jud_list" style="width:100%; margin-top:15px;" cellspacing="0" cellpadding="0">
            <volist name="commresponlist1" id="comment1">
                <tr valign="top" style="margin: 30px 0;">
                    <td width="20%" style="font-size: 12px;"><img src="/UserImg/photo{$comment1.imgpath}{$comment1.imgname}" width="20" height="20" align="absmiddle" />&nbsp;{$comment1.username} <br /></td>
                    <td width="20%" style="font-size: 12px;">
                        型号：<font color="#999999">{$comment1.ml}ml</font>
                        <br /><font color="orange">{$comment1.costatus}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        {$comment1.content}<br />
                        <if condition="$comment1.imageurl neq ''&&$comment1.imagename neq ''">
                            <a href="javascript:;" class="showimg" ><img src="/CommentImg/{$comment1.imageurl}{$comment1.imagename}" alt="" style="width: 50px;height: 50px;"/></a>
                            <a href="{:U('Home/Order/seeimg',array('cid'=>$comment1['id']))}" target="_blank" class="seebigimg" style="margin-left: 2px;font-size: 10px;">查看原图</a><br/>
                        </if>
                        <font color="#999999">{$comment1.coaddtime|date='Y-m-d',###}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        <if condition="$comment1.respid eq 2">
                            <span style="color:orange;">卖家回复:</span>{$comment1.response}<br />
                            <font color="#999999">{$comment1.readdtime|date='Y-m-d',###}</font>
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="pagelist">
            {$page1}
        </div>
    </div>
    <div class="commentcontent" style="display: none"  id="goodreview">
        <table border="0" class="jud_list" style="width:100%; margin-top:15px;" cellspacing="0" cellpadding="0">
            <volist name="commresponlist2" id="val1">
                <tr valign="top" style="margin:15px 0;">
                    <td width="20%" style="font-size: 12px;"><img src="/UserImg/photo{$val1.imgpath}{$val1.imgname}" width="20" height="20" align="absmiddle" />&nbsp;{$val1.username} <br /><font color="#999999">（匿名用户）</font></td>
                    <td width="20%" style="font-size: 12px;">
                        型号：<font color="#999999">{$val1.ml}ml</font>
                        <br /><font color="orange">{$val1.costatus}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        {$val1.content}<br />
                        <if condition="$val1.imageurl neq ''&&$val1.imagename neq ''">
                            <a href="javascript:;" class="showimg" ><img src="/CommentImg/{$val1.imageurl}{$val1.imagename}" alt="" style="width: 50px;height: 50px;"/></a>
                            <a href="{:U('Home/Order/seeimg',array('cid'=>$val1['id']))}" target="_blank" class="seebigimg" style="margin-left: 10px;">查看原图</a><br/>
                        </if>
                        <font color="#999999">{$val1.coaddtime|date='Y-m-d',###}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        <if condition="$val1.respid eq 2">
                            <span style="color:orange;">卖家回复:</span>{$val1.response}<br />
                            <font color="#999999">{$val1.readdtime|date='Y-m-d',###}</font>
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="pagelist">
            {$page2}
        </div>
    </div>
    <div class="commentcontent" style="display: none"  id="middlereview">
        <table border="0" class="jud_list" style="width:100%; margin-top:15px;" cellspacing="0" cellpadding="0">
            <volist name="commresponlist3" id="val2">
                <tr valign="top" style="margin:15px 0;">
                    <td width="20%" style="font-size: 12px;"><img src="/UserImg/photo{$val2.imgpath}{$val2.imgname}" width="20" height="20" align="absmiddle" />&nbsp;{$val2.username} <br /><font color="#999999">（匿名用户）</font></td>
                    <td width="20%" style="font-size: 12px;">
                        型号：<font color="#999999">{$val2.ml}ml</font>
                        <br /><font color="orange">{$val2.costatus}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        {$val2.content}<br />
                        <if condition="$val2.imageurl neq ''&&$val2.imagename neq ''">
                            <a href="javascript:;" class="showimg" ><img src="/CommentImg/{$val2.imageurl}{$val2.imagename}" alt="" style="width: 50px;height: 50px;"/></a>
                            <a href="{:U('Home/Order/seeimg',array('cid'=>$val2['id']))}" target="_blank" class="seebigimg" style="margin-left: 10px;">查看原图</a><br/>
                        </if>
                        <font color="#999999">{$val2.coaddtime|date='Y-m-d',###}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        <if condition="$comment1.respid eq 2">
                            <span style="color:orange;">卖家回复:</span>{$val2.response}<br />
                            <font color="#999999">{$val2.readdtime|date='Y-m-d',###}</font>
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="pagelist">
            {$page3}
        </div>
    </div>
    <div class="commentcontent" style="display: none" id="badreview">
        <table border="0" class="jud_list" style="width:100%; margin-top:15px;" cellspacing="0" cellpadding="0">
            <volist name="commresponlist4" id="val3">
                <tr valign="top" style="margin: 15px 0;">
                    <td width="20%" style="font-size: 12px;"><img src="/UserImg/photo{$val3.imgpath}{$val3.imgname}" width="20" height="20" align="absmiddle" />&nbsp;{$val3.username} <br /><font color="#999999">（匿名用户）</font></td>
                    <td width="20" style="font-size: 12px;">
                        型号：<font color="#999999">{$val3.ml}ml</font>
                        <br /><font color="orange">{$val3.costatus}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        {$val3.content}<br />
                        <if condition="$val3.imageurl neq ''&&$val3.imagename neq ''">
                            <a href="javascript:;" class="showimg" ><img src="/CommentImg/{$val3.imageurl}{$val3.imagename}" alt="" style="width: 50px;height: 50px;"/></a>
                            <a href="{:U('Home/Order/seeimg',array('cid'=>$val3['id']))}" target="_blank" class="seebigimg" style="margin-left: 10px;">查看原图</a><br/>
                        </if>
                        <font color="#999999">{$val3.coaddtime|date='Y-m-d',###}</font>
                    </td>
                    <td width="30%" style="font-size: 12px;">
                        <if condition="$val3.respid eq 2">
                            <span style="color:orange;">卖家回复:</span>{$val3.response}<br />
                            <font color="#999999">{$val3.readdtime|date='Y-m-d',###}</font>
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="pagelist">
            {$page4}
        </div>
    </div>
    <div class="commentcontent" style="display: none"  id="imgcomment">
        <table border="0" class="jud_list" style="width:100%; margin-top:30px;" cellspacing="0" cellpadding="0">
            <volist name="commresponlist5" id="val5">
                <tr valign="top">
                    <td width="160"><img src="/UserImg/photo{$val5.imgpath}{$val5.imgname}" width="20" height="20" align="absmiddle" />&nbsp;{$val5.username} <br /><font color="#999999">（匿名用户）</font></td>
                    <td width="180">
                        型号：<font color="#999999">{$val5.ml}ml</font>
                        <br /><font color="orange">{$val5.costatus}</font>
                    </td>
                    <td>
                        {$val5.content}<br />
                        <if condition="$val5.imageurl neq ''&&$val5.imagename neq ''">
                            <a href="javascript:;" class="showimg" ><img src="/CommentImg/{$val5.imageurl}{$val5.imagename}" alt="" style="width: 50px;height: 50px;"/></a>
                            <a href="{:U('Home/Order/seeimg',array('cid'=>$val5['id']))}" target="_blank" class="seebigimg" style="margin-left: 10px;">查看原图</a><br/>
                        </if>
                        <font color="#999999">{$val5.coaddtime|date='Y-m-d',###}</font>
                    </td>
                    <td>
                        <if condition="$val5.respid eq 2">
                            <span style="color:orange;">卖家回复:</span>{$val5.response}<br />
                            <font color="#999999">{$val5.readdtime|date='Y-m-d',###}</font>
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="pagelist">
            {$page5}
        </div>
    </div>
    <div class="commentcontent" style="display: none"  id="zuijiacomment">
        <table border="0" class="jud_list" style="width:100%; margin-top:30px;" cellspacing="0" cellpadding="0">
            <volist name="commresponlist6" id="val6">
                <tr valign="top">
                    <td width="160"><img src="/UserImg/photo{$val6.imgpath}{$val6.imgname}" width="20" height="20" align="absmiddle" />&nbsp;{$val6.username} <br /><font color="#999999">（匿名用户）</font></td>
                    <td width="180">
                        型号：<font color="#999999">{$val6.ml}ml</font>
                        <br /><font color="orange">{$val6.costatus}</font>
                    </td>
                    <td>
                        {$val6.content}<br />
                        <if condition="$val6.picurl neq ''&&$val6.picname neq ''">
                            <a href="javascript:;" class="showimg" ><img src="/CommentImg/{$val6.picurl}{$val6.picname}" alt="" style="width: 50px;height: 50px;"/></a>
                            <a href="{:U('Home/Order/seeimg',array('cid'=>$val6['id']))}" target="_blank" class="seebigimg" style="margin-left: 10px;">查看原图</a><br/>
                        </if>
                        <font color="#999999">{$val6.coaddtime|date='Y-m-d',###}</font>
                    </td>
                    <td>
                        <if condition="$val6.zuijiatime eq 1">
                            <span style="color:orange;">[当天追加]:</span>{$val6.zuijia}<br/>
                            <else/>
                            <span style="color:orange;">[{$val6.zuijiatime}天后追加]:</span>{$val6.zuijia}<br />
                        </if>
                    </td>
                </tr>
            </volist>
        </table>
        <div class="pagelist">
            {$page6}
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    jQuery(function(){
        jQuery(' .ul li').click(function(){
            i=jQuery(this).index();
            jQuery(' .ul li').removeClass('active').eq(i).addClass('active');
            jQuery('#div1>div').hide().eq(i).show();
        })
    });

    function goodsdetail1(id){
        var gid=jQuery('input[name="gid"]').val();
        var id=id?id:1;
        jQuery.get("{:U('Mobile/Goods/allcomment')}",{"p":id,"gid":gid,cid:1},function(res){
            jQuery('#div1>div').eq(0).html(res);
        })
    }
    function goodsdetail2(id){
        var gid=jQuery('input[name="gid"]').val();
        var id=id?id:1;
        jQuery.get("{:U('Mobile/Goods/allcomment')}",{"p":id,"gid":gid,cid:2},function(res){
            jQuery('#div1>div').eq(1).html(res);
        })
    }
    function goodsdetail3(id){
        var gid=jQuery('input[name="gid"]').val();
        var id=id?id:1;
        jQuery.get("{:U('Mobile/Goods/allcomment')}",{"p":id,"gid":gid,cid:3},function(res){
            jQuery('#div1>div').eq(2).html(res);
        })
    }
    function goodsdetail4(id){
        var gid=jQuery('input[name="gid"]').val();
        var id=id?id:1;
        jQuery.get("{:U('Mobile/Goods/allcomment')}",{"p":id,"gid":gid,cid:4},function(res){
            jQuery('#div1>div').eq(3).html(res);
        })
    }

    function goodsdetail5(id){
        var gid=jQuery('input[name="gid"]').val();
        var id=id?id:1;
        jQuery.get("{:U('Mobile/Goods/allcomment')}",{"p":id,"gid":gid,cid:5},function(res){
            jQuery('#div1>div').eq(4).html(res);
        })
    }

    function goodsdetail6(id){
        var gid=jQuery('input[name="gid"]').val();
        var id=id?id:1;
        jQuery.get("{:U('Mobile/Goods/allcomment')}",{"p":id,"gid":gid,cid:6},function(res){
            jQuery('#div1>div').eq(5).html(res);
        })
    }

</script>