<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/yhcss/style.css" />
    <!--[if IE 6]>
    <script src="__PUBLIC__/Home/map/yhjs/iepng.map" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="__PUBLIC__/Home/js/yhjs/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/yhjs/menu.js"></script>

    <script type="text/javascript" src="__PUBLIC__/Home/js/yhjs/select.js"></script>


    <title>beauty</title>
</head>
<body>
<!--Begin Header Begin-->
<include file="public/header"/>
<!--End Header End-->
<!--End Header End--> 
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
	<div class="m_content" style="margin: 0 auto">
   		<div class="m_left">
        	<div class="left_n">管理中心</div>
            <div class="left_m">
                <div class="left_m_t t_bg1">订单中心</div>
                <ul>
                    <li><a href="{:U('Home/Member/Orderform')}">我的订单</a></li>
                    <li><a href="{:U('Home/Member/Orderform1')}">金币兑换订单</a></li>
                    <li><a href="{:U('Home/Member/address')}">收货地址</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg2">会员中心</div>
                <ul>

                    <li><a href="{:U('Home/Member/MemberCentre')}">用户信息</a></li>
                    <li><a href="{:U('Home/Member/showCollect')}">我的收藏</a></li>
                    <li><a href="{:U('Home/Member/showcomment')}">我的评论</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg3">账户中心</div>
                <ul>
                    <li><a href="{:U('Member/safe')}">账户安全</a></li>
                    <li><a href="{:U('Member/packet')}">我的红包</a></li>
                    <li><a href="{:U('Member/money')}" class="now">资金管理</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg4">分销中心</div>
                <ul>
                    <li><a href="{:U('Member/myMember')}">我的会员</a></li>

                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg4">金币中心</div>
                <ul>
                    <li><a href="{:U('Sign/sign')}">我的金币</a></li>
                </ul>
            </div>
        </div>
		<div class="m_right">
            <form action="{:U('Member/ebank')}" method="post">
            <p></p>			
            <div class="mem_tit">
            	<!--&lt;!&ndash;<span class="fr" style="font-size:12px; color:#555555; font-family:'宋体'; margin-top:5px;">&ndash;&gt;</span>-->
                <span style="font-weight: bold;font-size: 25px;margin-left: 450px;color: #F27602">充值</span>
            </div>
			<table border="0" class="ma_tab" style="width:930px; margin-bottom:30px;" cellspacing="0" cellpadding="0">
              <tr>
                  <td class="ma_a" colspan="8" align="right">
                      <a href="{:U('Member/drawcash')}">提现</a>|<a href="{:U('Member/chargeRecord')}">充值记录</a>|
                      <a href="{:U('Member/cashRecord')}">提现记录</a>|<a href="{:U('Member/tradeRecord')}">消费记录</a>
                  </td>
              </tr>
              <tr>
                <td>充值金额</td>
                <td colspan="2"><input type="text" value="" name="money" class="add_ipt" style="width:190px;" /></td>
              </tr>
              <tr valign="top" height="180">
                <td>会员备注</td>
                <td colspan="2" style="padding-top:10px;"><textarea class="add_txt" name="remark" style="width:540px; height:130px;"></textarea></td>
              </tr>
              <tr>
                <td colspan="3">支付方式</td>
              </tr>
              <tr>                                                                                                                                                    
                <td width="200" align="center">名称</td>                                                            
                <td width="500" align="center">描述</td>
                <td width="230" align="center">手续费</td>                   
              </tr>
              <tr>
                <td><label class="r_rad"><input type="radio" name="pay" value="1" checked="checked" /></label><label class="r_txt">银行转账</label></td>
                <td>
                	银行名称 收款人信息：全称 ××× ；帐号或地址 ××× ；开户行 ×××。 <br />
                    注意事项：办理电汇时，请在电汇单“汇款用途”一栏处注明您的订单号。
                </td>
                <td align="center">0</td>
              </tr>
              <tr>
                <td><label class="r_rad"><input type="radio" name="pay" value="2" /></label><label class="r_txt">支付宝</label></td>
                <td>
                	支付宝网站(www.alipay.com) 是国内先进的网上支付平台。<br />
                    支付宝收款接口：在线即可开通，<font color="#ff4e00">零预付，免年费，</font>单笔阶梯费率，无流量限制。<br />
                    <a href="#" style="color:#ff4e00;">立即在线申请</a>
                </td>
                <td align="center">0</td>
              </tr>
              <!--<tr>
                <td colspan="7" align="right">您当前的可用资金为：￥0.00</td>
              </tr>-->
			</table>
            
            <p align="center">
            	<input type="submit" value="提交申请" class="btn_tj" />&nbsp; &nbsp; <input type="reset" value="重置表单" class="btn_tj" />
            </p>
			</form>


            
        </div>
    </div>
	<!--End 用户中心 End--> 
    <!--Begin Footer Begin -->
    <include file="public/footer"/>
    <!--End Footer End -->
</div>
<include file="public/right"/>
</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->