<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/yhcss/style.css" />
    <!--[if IE 6]>
    <script src="__PUBLIC__/Home/map/yhjs/iepng.map" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->

    <script type="text/javascript" src="__PUBLIC__/Home/js/yhjs/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/yhjs/menu.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/yhjs/select.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.1.8.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/layer/layer.js"></script>


    <title>beauty</title>
    <style>
        .ma_tab tr{width: 900px;border: 1px solid green}
        .ma_tab tr td{font-size: 14px;height: 50px}
        .ma_a a{font-size: 14px;}
        .list{color: #ff4e00}
        .operate{color: #006dcc;}
    </style>
    <script>
        $(function(){
            $('.operate').click(function(){
                var mid=$(this).attr('id');
                $.post("{:U('Member/operate')}",{mid:mid},function(res){
                    if(res.status==1){
                        layer.msg('支付状态更改成功',{icon:6,time:3000},function(){
                            location="{:U('Member/money')}";
                        })
                    }else{
                        layer.msg('更改支付账户状态失败',{icon:5,time:3000},function(){
                            location="{:U('Member/money')}";
                        })
                    }
                })
            })
        })
    </script>
</head>
<body>
<!--Begin Header Begin-->
<include file="public/header"/>
<!--End Header End-->
<!--End Header End--> 
<div class="i_bg bg_color">
    <!--Begin 用户中心 Begin -->
	<div class="m_content" style="margin: 0 auto">
   		<div class="m_left">
        	<div class="left_n">管理中心</div>
            <div class="left_m">
            	<div class="left_m_t t_bg1">订单中心</div>
                <ul>
                	<li><a href="{:U('/Home/Member/Orderform')}">我的订单</a></li>
                    <li><a href="{:U('Home/Member/Orderform1')}">金币兑换订单</a></li>
                    <li><a href="{:U('/Home/Member/address')}">收货地址</a></li>
                </ul>
            </div>
            <div class="left_m">
            	<div class="left_m_t t_bg2">会员中心</div>
                <ul>
                	<li><a href="{:U('Home/Member/MemberCentre')}">用户信息</a></li>
                    <li><a href="{:U('Home/Member/showCollect')}">我的收藏</a></li>
                    <li><a href="{:U('Home/Member/showcomment')}">我的评论</a></li>
                </ul>
            </div>
            <div class="left_m">
            	<div class="left_m_t t_bg3">账户中心</div>
                <ul>
                	<li><a href="{:U('Member/safe')}">账户安全</a></li>
                    <li><a href="{:U('Member/packet')}">我的红包</a></li>
                    <li><a href="{:U('Member/money')}" class="now">资金管理</a></li>
                </ul>
            </div>
            <div class="left_m">
            	<div class="left_m_t t_bg4">分销中心</div>
                <ul>
                    <li><a href="{:U('Member/myMember')}">我的会员</a></li>
                </ul>
            </div>
            <div class="left_m">
                <div class="left_m_t t_bg4">金币中心</div>
                <ul>
                    <li><a href="{:U('Sign/sign')}">我的金币</a></li>
                </ul>
            </div>
        </div>
		<div class="m_right">
            <p></p>			
            <div class="mem_tit">
            	<!--<span class="fr" style="font-size:12px; color:#55555; font-family:'宋体'; margin-top:5px;">共发现0件</span>-->
                <span style="font-weight: bold;font-size: 25px;margin-left: 450px;color: #F27602">会员余额</span>
            </div>
			<table  class="ma_tab" border="0" style="width:930px; text-align:center; margin-bottom:30px;border: 1px solid red" cellspacing="0" cellpadding="0">
                <tr>
              	<td class="ma_a" colspan="8" align="right">
                    <a href="{:U('Member/recharge')}">充值</a>|<a href="{:U('Member/drawcash')}">提现</a>|
                    <a href="{:U('Member/chargeRecord')}">充值记录</a>|<a href="{:U('Member/cashRecord')}">提现记录</a>|
                    <a href="{:U('Member/tradeRecord')}">消费记录</a>
                </td>
              </tr>
              <tr>
                <td width="45">编号</td>
                  <td width="200">最后记录时间</td>
                  <td width="110">充值总额</td>
                  <td width="110">取现总额</td>
                  <td width="110">消费总额</td>
                <td width="110">账户余额</td>
                <td width="100">资金状态</td>
                  <td width="110">操作</td>

              </tr>
              <tr>
                <td>1</td>
                <td>{:date('Y-m-d H:i:s',$time)}</td>
                <td class="list">{$rechargesum}</td>
                  <td class="list">{$cashsum}</td>
                  <td class="list">{$tradesum}</td>
                <td class="list">{$balance}</td>
                <td>{$status==0?'冻结':'激活'}</td>
                <td><a href="#" class="operate" id="{$mid}">{$status==0?'激活':'冻结'}</a></td>
              </tr>
              <tr>
                <td colspan="8" align="right">您当前的可用资金为：<span class="list">￥ {$balance}</span></td>
              </tr>
                </volist>

            </table>
			


            
        </div>
    </div>
	<!--End 用户中心 End--> 
    <!--Begin Footer Begin -->
    <include file="public/footer"/>
    <!--End Footer End -->
</div>
<include file="public/right"/>
</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
