<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <link rel="shortcut icon" href="images/bitbug_favicon .icon" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/showcart.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset1.css" />
    <script src="__PUBLIC__/Home/js/jquery.min.1.8.2.js"></script>
    <script src="__PUBLIC__/Home/js/layer/layer.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>beauty</title>
    <style>
        .paypassword{border: 1px solid black;width: 300px;height: 150px;}
        .paypassword .dd1{width: 250px;height: 20px;font-weight: bold;font-size: 16px;}
        .paypassword .dd2{margin: 30px;}
        .paypassword .dd2 input{width: 250px;height: 25px;}
        .paypassword .dd3{width: 250px;height: 25px;text-align: center;}
        .paypassword .dd3 a:first-child{margin-left: 80px;}
        .paypassword .dd3 a{height: 20px;background: red;margin: 0 30px;border-radius: 5px;padding: 10px 15px;color:white;}
        .paypassword .dd3 a:hover{cursor: pointer;}
        .success p{color: #008800;font-weight: bold;font-size: 16px;margin-top: 10px}
    </style>
</head>
<body>
<!-- top 开始 -->
<include file="public/header"/>
<!-- nav 开始 -->

<!-- nav结束 -->
<!-- 购物车的内容 开始-->
<div class="Process" style="text-align: center;"><img src="__PUBLIC__/Home/images/Process_img_03.png" /></div>
<div class="shoppingMain">
    <ul class="title clearfix">
        <li class="xuanzhong">
            <a href="show.html"><p  class="mycar"><span>1</span>我的购物车</p></a>
        </li>
        <li>
            <a href="order.html"><p  class="write"><span>2</span>填写订单</p></a>
        </li>
        <li>
            <a href="showcart.html"><p class="pay"><span>3</span>订单支付</p></a>
        </li>
    </ul>
    <div class="border">
       <!-- {:U('Home/Order/topay')}-->
        <form action="" method="post" id="pay">
        <div class="myCar">
            <div class="success">
                <h3>订单已提交成功，请尽快付款!</h3>
                <input type="hidden" name="oid" value="{$oid}"/>
                <volist name="orderlist" id="val">
                <!--<p class="p1">您的订单号：<input name="orderno" value="{$val.orderno}" style="border: none">
                <p class="p2">订单金额：<input name="trueprice" value="{$val.price}" style="border: none;width: 30px;"/>元</p>-->
                    <p >您的订单号：{$val.orderno}</p>
                    <p >订单金额：{$val.price} 元</p>
                </volist>
            </div>
            <div class="pay1">
                <div class="chir_pay">
                    <a href="#" >支付方式</a>
                    <a href="#" class="ac">支付平台</a>
                    <a href="#" >网上银行</a>
                </div>
                <div class="pay2">
                    <span></span>支付平台
                </div>
                <div class="pay3">
                    <ul class="clearfixs">
                        <li style="font-size: 20px;width: 150px"><input type="radio" name="radio" value="1"> 余额支付</li>
                        <li style="width: 150px"><input type="radio" name="radio" value="2"> <img src="__PUBLIC__/Home/images/logo_alipay.gif" alt="" /></li>
                        <li style="width: 150px"><input type="radio" name="radio" value="3"> <img src="__PUBLIC__/Home/images/logo_yeepay.gif" alt="" /></li>
                        <li style="width: 150px"><input type="radio" name="radio" value="4"> <img src="__PUBLIC__/Home/images/logo_weixin.gif" alt="" /></li>
                    </ul>
                </div>

            </div>
            <p class="p3">在线支付成功后，请勿关闭支付成功页面，等待返回到商城</p>
           <!-- <input type="submit" value="确认无误，点击支付" name="submit" class="input1" style="margin-left: 250px;" onclick="layerpay()">-->
            <a href="javascript:layerpay();" style="background-color:red;display:inline-block;width: 212px;height: 52px;color:#ffffff;text-align: center;line-height: 52px;margin-left: 250px;font-weight: bold;font-size: 14px;">确认无误，点击支付</a>
            <a href="{:U('Home/Member/Orderform')}" style="background-color:red;display:inline-block;width: 212px;height: 52px;color:#ffffff;text-align: center;line-height: 52px;margin-left: 30px;font-weight: bold;font-size: 14px;">返回 我的订单</a>
        </div>
        </form>
    </div>
</div>
<!-- 购物车为0时界面结束 -->
<!-- footer开始 -->
<div class="footer fom_sty fom_w">
    <ul >
        <li class="fli1">
            <p></p>
            <h2>获取帮助<br /><span><a href="#">联系我们</a>|<a href="#">加入我们</a></span></h2>
        </li>
        <li class="fli2">
            <p></p>
            <h2>防伪查询<br /><span><a href="#">输入查询码</a></span></h2>
        </li>
        <li class="fli3">
            <p></p>
            <h2>售后服务<br /><span><a href="#">使用说明</a></span></h2>
        </li>
    </ul>
    <h5>温馨提示：近日有不法分子假冒+4006100011冒充官方客服人员进行电话诈骗，请您提高警惕，注意保护个人账户信息，切勿泄漏他人。如遇类似问题， 请勿回拨来电号码，直接拨打客服电话400-610-0011询问。</h5>
    <h5>沪ICP备14035278号-2 上海电子商务有限公司版权所有 ©1990-2016</h5>
    <h5><a href="#">关于李宁</a> | <a href="#">法律声明</a> | 投资者关系 Investor Relations | <a href="#">特许经营 </a>
        | <a href="#">客服热线</a>
    </h5>
</div>
<!-- footer结束 -->
<include file="public/footer"/>
<!-- 右侧导航 -->

<!-- 右侧栏结束 -->
</body>
</html>
<script type="text/javascript">
    flag=true;
    jQuery('.layui-layer-ico').live('click',function(){
        flag=true;
    });
  function layerpay(){
      oid=$('input[name="oid"]').val();
      radio=$('input[name="radio"]:checked').val();
      if(radio){
          if(flag) {
              flag = false;
              layer.open({
                  type: 1,
                  shade: false,
                  title: false,//false为不显示标题
                  content: "<div style='width:300px;height:150px;background:white;padding:30px'>" +
                  '<dl class="paypassword">' +
                  '<dd class="dd1">请输入支付密码</dd>' +
                  '<dd class="dd2"><input type="password" name="password"/></dd>' +
                  '<dd class="dd3">' +
                  '<a id="confirm">确定</a>' +
                  '<a id="cancel">取消</a>' +
                  '</dd>' +
                  '</dl>' +
                  '</div>' + ';'
              });
          }
      }else{
          layer.msg('请填写支付方式',{time:1000});
      }
      //输入支付密码;
      $('#confirm').click(function(){
          password=$('input[name="password"]').val();
          $.post('{:U("Home/Member/dopay")}',{oid:oid,paypwd:password,radio:radio},function(res){
//              alert(res);
              if(res.status==1){
                  layer.msg('支付成功',{icon:6,time:3000},function(){
                      location='{:U("Home/Member/paysuccess")}?oid='+oid;
                  });
              }else{
                  if(res.info=='你的资金账户被冻结'){
                      layer.msg('你的资金账户被冻结',{icon:5,time:3000});
                  }else if(res.info=='你的余额不足'){
                      layer.msg('你的余额不足',{icon:5,time:3000});
                  }else if(res.info=='支付密码错误'){
                      layer.msg('支付密码错误',{icon:5,time:3000});
                  }else{
                      layer.msg('订单付款失败',{icon:5,time:3000});
                  }
              }
          })
      });

      //取消支付的订单
      $('#cancel').click(function(){
          layer.msg('订单还没有支付，请尽快支付',{time:500},function(){
              parent.layer.closeAll();
          });
      })
  }
</script>
