.com-content-area{ padding:0; margin:0; font-family:\9ED1\4F53; background:#e2e2e2}
.com-content-area .oof{font-family:\5FAE\8F6F\96C5\9ED1;}
i{font-style:normal; }

.com-title .cart,
.sellprice i,
.offer i,.offertitle i,.title i,
.numselect a,.star,.star em,
.h2two,
.services i,
.fixedcart i,.fixed-addcart i,
.fixed-favtip i,
.fixed-probox i{ background:url(../images/index.2.0.png) no-repeat; background-size:80px 292px;}

.com-title{font-family:\9ED1\4F53; font-size:20px}
.com-title .cart{ width:22px; height:20px; background-position:0px -139px; right:8px; top:10px;}

.touchslider{position:relative;overflow:hidden;}
.touchslider .touchslider-item{ width:100%;}
.touchslider .touchslider-item img{ width:100%;}
.touchslider .touchslider-navtag{text-align:center;height:34px;display:inline-block;vertical-align:middle;width:100%; position:absolute; bottom:0px; left:0px;}
.touchslider .touchslider-navtag span{width:8px;height:8px;background:#c1c1c1;overflow:hidden;display:inline-block;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; }
.touchslider .touchslider-navtag .touchslider-nav-item-current{background:#ff7363;}

.goodsinfo{ padding:0 15px; background:#fff; border-bottom:1px solid #dddddd; margin-bottom:8px}
.goodsinfo h1{ font-size:14px; line-height:16px; padding:10px 0 8px 0}
h1 .tips{color:#ee0000;}
.price{ color:#999; line-height:22px; padding-bottom:5px}
.price .gray57{ color:#575757;}
.price p{ color:#ff5000; display:inline;}
.price p b{ font-weight:normal; font-size:19px}
.sellprice{ color:#ff5000; line-height:25px;height:30px;}
.sellprice i{ display:block; float:left; background-color:#ee0000; color:#fff; background-position:right top; padding:0 18px 0 5px; height:25px;margin-right:5px;}
.sellprice i.nfav{display:block; width:21px; height:22px;background-position:-0px -75px;float:right; background-color:#fff; padding:0; margin:1.5px 0 0 0;}
.sellprice i.fav{background-position:-0px -107px;}
.sellprice span{ font-size:10px;}
.sellprice b{ font-size:18px;}

.offertitle{ border-top:1px solid #ddd; display:block; line-height:20px; height:20px; padding:10px 0; position:relative}
.offertitle p{ padding-right:32px;}
.offertitle b{ display:block;width:100%;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; }
.offer { display:none}
.offer li{ border-top:1px solid #ddd; position:relative;}
.offer b.title{ display:block; height:40px; line-height:40px; font-size:14px; margin-right:20px; overflow:hidden; border:none}
.offer i,.offertitle i{ position:absolute; width:17px; height:17px; background-position:-31px -141px; top:11.5px; right:10px;}
.offer i.open{ background-position:-57px -141px;}
.offer p{line-height:18px; margin-top:-10px; padding-bottom:10px}

.title{height:40px; line-height:40px; font-size:14px;overflow:hidden; position:relative;border-bottom:1px solid #ddd; clear:both}
.titletwo{height:40px; line-height:40px; font-size:14px;overflow:hidden; padding-left:8px;border-bottom:1px solid #ddd;}
.titlethree{height:38px; line-height:38px; font-size:14px;overflow:hidden; border-top:1px solid #ddd; clear:both}

.time{ height:40px; line-height:40px;text-align:center; border-top:1px solid #ddd; border-bottom:none;}
.time span{color:#ff5000; padding-left:10px;}

.title i{ position:absolute; width:17px; height:17px; background-position:-31px -141px; top:11.5px; right:10px;}
.title i.open{ background-position:-57px -141px;}
.title a.sizelink{ font-size:12px; border:1px solid #cfcfcf; display:inline-block; width:95px; height:25px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; text-align:center; line-height:25px; filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fcfcfc,endcolorstr=#ededed,gradientType=0);
-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fcfcfc,endcolorstr=#ededed,gradientType=0);/*IE8*/
background:-moz-linear-gradient(top,#fcfcfc, #ededed);
background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fcfcfc), to(#ededed)); color:#3300FF;}
.title a.dblock{ display:block;}
.title .gray{ color:#999;}
.title .red{ color:#ee0000;}

.color{ padding-top:8px; padding-bottom:3px}
.color li{ float:left; padding:0 9px 9px 0;}
.color li img{ height:40px; display:block; border:1px solid #c2b0a2;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.color li.current img{border-color:#ee0000;}

.size{ padding-top:15px; margin-bottom:6px;}
.size ul:after,.color ul:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.size li{ padding:0 9px 9px 0; float:left;}
.size li a{ display:block; padding:0 18px; border:1px solid #d7d7d7; height:27px; line-height:27px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; background-color:#fff;}
.size li.current a{border-color:#ee0000;color:#ee0000;}
.size img{ margin-top:-7px}

.numbox{ padding-top:9px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; height:46px;clear: both}
.numbox div{ float:left; line-height:37px;}
.numselect{ border:1px solid #dbdbdb; width:112px; height:35px; margin-left:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.numselect a{ display:block; float:left; width:36px; height:35px; background-color:#fff;}
.numselect a.noclick{ opacity:0.6;-moz-opacity:0.6;-khtml-opacity:0.6;filter:alpha(Opacity=60);}
.numselect a.add{ background-position:-0px -169px;
border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;}
.numselect a.del{ background-position:-41px -169px;
border-top-right-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;
border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;}
.numselect input{ width:38px; line-height:35px;height:35px; text-align:center; padding:0px; margin:0px; border:1px solid #dbdbdb; border-width:0px 1px; float:left;}

.appraisal{ color:#939292; line-height:23px}
.appraisal li{ padding:7px 0; border-bottom:1px solid #dddddd;}
.appraisal li:last-child{ border-bottom:0px;}
.appraisal div{ color:#3d4245;}
.appraisal p{ clear:both;}
.appraisal b{ display:block; float:left; padding-left:10px; font-weight:normal}
.appraisal span{ display:block; float:right;}
.star{ float:left; display:block; width:80px; height:11px; background-position:2px -229px; margin-top:7px;}
.star em{ display:block; width:100%;height:100%; background-position:2px -214px}

.h2two{ background-position:-72px -36px; height:33px; line-height:33px; padding-left:11px; font-size:14px;}
.goodstips{ margin-left:-15px; width:105%; padding-bottom:9px}
.goodstips div{ height:42px; overflow:hidden;}
.goodstips a{ color:#592d4a;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; width:60px; height:30px; line-height:30px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; margin:0 0 12px 15px; display:block; float:left; text-align:center;}
.goodstips a.tip0{ background-color:#f5edff;}
.goodstips a.tip1{ background-color:#ffe4e4;}
.goodstips a.tip2{ background-color:#fffae3;}
.goodstips a.tip3{ background-color:#ffe2eb;}
.goodstips a.tip4{ background-color:#ffecd9;}
.goodstips a.tip5{ background-color:#e2f5ff;}
.goodstips a.tip6{ background-color:#fee6f7;}
.goodstips a.tip7{ background-color:#ffe4dd;}
.goodstips a.more{ border:1px solid #e3e3e3; color:#666; width:30%; -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px; clear:both; float:none; margin:0 auto}

.services{ padding:5px 0; border-bottom:1px solid #d5d5d5;}
.services li{ line-height:27px; height:27px; overflow:hidden;}
.services i{ display:block; float:left; width:17px; height:19px; margin:5px 3px 0 10px;}
.services li:nth-child(1) i{ background-position:-0px -249px;}
.services li:nth-child(2) i{ background-position:-21px -249px;}
.services li:nth-child(3) i{ background-position:-42px -249px;}
.services li:nth-child(4) i{ background-position:-63px -249px;}
.services li:nth-child(5) i{ background-position:-0px -272px;}
.services li i.tel{ background-position:-21px -272px;}
.services li i.weixin{ background-position:-42px -272px;}
.services .blue{ color:#2626ff;}

.servicestext{ font-size:15px; line-height:20px; padding:5px 0 10px 8px}

.shop{ padding:12px 15px 10px 17px; border:1px solid #d5d5d5; background-color:#fff;}
.shop:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.gotoshop{ display:block; float:right; width:71px; height:31px; line-height:31px; background-color:#ffab33; text-align:center; color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; margin-top:4px}
a.gotoshop{color:#fff;}
.shop div{ float:left; line-height:18px; font-size:12px}
.shop b{ display:block;line-height:20px; height:20px; font-size:15px; font-weight:normal}
.shop i{ display:block; float:left;}
.shop i.star{ margin:2px 5px 0 0;}

.fixedcart {display:none;position: fixed;bottom: 80px;left: 2.1%;width:44px;height:44px;z-index: 10;background-color:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#91000000,endColorstr=#91000000);-moz-border-radius:22px;-webkit-border-radius:22px;border-radius:22px;}
.fixedcart i{ display:block; margin:12px auto; width:22px; height:20px; background-position:-0px -139px;}

.fixed-addcart{position:fixed;bottom:0px;left:0;width:100%;height:60px;z-index: 10;background-color:#fff; border-top:1px solid #dbdbdb;}
.fixed-addcart a.exchange,
.fixed-addcart input{ width:28%; height:40px; float:right; font-size:14px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; border:0px; margin-top:10px; background-image:none;}
.fixed-addcart input.buy{ background-color:#ff5000; color:#ffffff; margin-right:16px;}
.fixed-addcart input.addcart,
.fixed-addcart a.exchange{background-color:#ffab33; color:#592d4a;  margin-right:9px}
.fixed-addcart input.start{ background-color:#ffcc99; color:#ff5000; margin-right:16px; border:1px solid #ff5000;height:38px;}
.fixed-addcart input.ready{ background-color:#cccccc; color:#fff; margin-right:16px;}
.fixed-addcart a.exchange{ text-align:center; line-height:40px; color:#fff;}

.fixed-addcart i{ display:block; width:21px; height:22px; background-position:-0px -75px; margin-left:16px; margin-top:21px; float:left;}
.fixed-addcart i.fav{background-position:-0px -107px;}
.fixed-addcart i.tel{ background-position:-31px -75px; margin-left:28px;}
.fixed-addcart span{ display:block; float:left; padding:10px 0 0 16px; }
.fixed-addcart span.org{ color:#ff5000;}

.fixed-favtip{ display:none;position:fixed;bottom:80px;left:50%;width:84%; margin-left:-42%;height:80px; line-height:80px;z-index:11;background-color:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; color:#fff; font-size:17px; text-align:center;}
.fixed-favtip i{ display:inline-block; width:31px; height:31px; background-position:left -35px; margin:0 5px -8px 0}
.fixed-favtip i.del{background-position:-37px -35px;}

.fixed-probox{position:fixed;bottom:80px;left:0%; z-index:31; width:100%; }
.selectprobox{ margin:0 16px; background-color:#f8f8f8; padding-bottom:15px;}
.selectprobox h2{ height:35px; line-height:35px; background-color:#ff5000; padding-left:8px; color:#fff; font-size:15px;}
.selectprobox i.colse{ display:block; width:11px; height:11px; background-position:-62px -111px; position:absolute; right:23px; top:12px;}
.selectproinfo{ padding:0 8px;}
a.submitpro{ display:block; width:30%; height:36px; line-height:36px; text-align:center; margin:0 auto; color:#fff; background-color:#ff5000; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

.sizechart{ background:#fff;}
.sizechart table{line-height:40px;table-layout: fixed;  word-wrap:break-word;font-size:13px; }
.sizechart table th, 
.sizechart table td{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;} 
.sizechart table thead th{font-weight:normal;line-height:50px; font-size:14px}
.sizechart table tbody th{background:#cecdcd;color:#202f44;font-weight:normal;}
.sizechart table td{text-align:center;border:1px solid #cecdcd;border-left-width:0;border-top:0;}
.sizechart table tr td:nth-child(2){border-right-width:0px;}
.sizechart table tbody tr:nth-child(2n+1){background:#ebebeb;}
.sizechart .servicestext{ padding:10px 24px}

.com-footer-area .top {bottom: 80px;
		height: 44px;
		background-position: -80px -84px;
		background-size: 125px 150px;	
	}

.miaoshatip{border-top:1px solid #ddd; color:#dd2726; font-size:14px; text-align:center; line-height:18px; padding:7px 0}