/* CSS Document */
@media screen and (max-width: 479px) and (min-width: 0px) {
	.p-search-box .p-search{ width:72%;}
	}
@media screen and (max-width: 639px) and (min-width: 480px) {
	.p-search-box .p-search{ width:77%;}
	}
@media screen and (max-width: 3000px) and (min-width: 640px) {
	.p-search-box .p-search{ width:79%;}
	}
.p-title .return,.p-title .search,
.p-search-box .p-search{ background:url(../images/public/classify.1.1.png?2) no-repeat; background-size:16px 85px; }
	
.com-content-area{ padding:0; margin:0;}
.p-title{ height:44px; line-height:44px; background:#ff5000; color:#FFF; position:relative; text-align:center;}
.p-title .return{ background-position:0 13px; color:#FFF; position:absolute; left:10px; padding-left:16px;}
.p-title .search{ background-position:0 -64px; width:16px; height:17px;position:absolute; top:13.5px; right:8px; display:block;}
.p-area{ background:#efefef; padding:8px 0 0 0;}
.p-search-box{ width:100%; display:none}
.p-search-box .p-search{ height:32px; border-radius:5px; border:#e4e5e7 solid 1px; margin:0 auto 8px 8px; padding:0 3px 0 24px;  background-position:5px -31px; background-color:#FFF; color:#9a9a9a;}
.p-search-box .p-submit{ width:13%; height:32px; line-height:28px; border-radius:5px; border:#e4e5e7 solid 1px; padding:0; margin:0; float:right; margin-right:8px;}
.p-tag{ margin:0 20px 10px 20px; height:28px; line-height:28px; border:1px solid #ff481b;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.p-tag a{ display:block; float:left; width:50%; text-align:center; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; color:#ff481b;background-color:#fff;}
.p-tag a.current{ background-color:#ff481b; color:#fff;}
.p-tag a:first-child{border-top-left-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius :5px;border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;}
.p-tag a:last-child{border-top-right-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;}

.p-area h2{ height:30px; line-height:30px; padding-left:14px; color:#666; font-size:16px; font-weight:normal;font-family:\5FAE\8F6F\96C5\9ED1;}

.brandslist:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.brandslist{background-color:#fff;}
.brandslist li{ float:left; width:33%; border-bottom:1px solid #e3e3e3; height:80px; background-color:#fff;}
.brandslist li:nth-child(3n+1){ padding-left:0.5%;}
.brandslist li:nth-child(3n+3){ padding-right:0.5%;}
.brandslist li a{ display:block;height:100%; text-align:center;border-right:1px solid #e3e3e3;}
.brandslist li:nth-child(3n+3) a{border-right:none;}
.brandslist li img{display:block; margin:0 auto; padding:20px 0 2px 0; height:25px;}

.p-sidenav{width:25px;top:150px; right:0px; position:fixed;z-index:149; line-height:14px; font-size:12px;}
.p-sidenav a{ display:block; text-align:center;}
