<!DOCTYPE html>
<html>
 <head> 
  <title>帮助详情</title> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  <meta charset="utf-8" /> 
  <link rel="dns-prefetch" href="//ued.paixie.net" /> 
  <link rel="dns-prefetch" href="//img-cdn2.paixie.net" /> 
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" /> 
  <link rel="bookmark" href="images/favicon.ico" type="image/x-icon" /> 
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> 
  <meta http-equiv="X-UA-Compatible" content="edge" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="format-detection" content="telphone=no, email=no" /> 
  <meta name="renderer" content="webkit" /> 
  <meta name="HandheldFriendly" content="true" /> 
  <meta name="MobileOptimized" content="320" /> 
  <meta name="screen-orientation" content="portrait" /> 
  <meta name="x5-orientation" content="portrait" /> 
  <meta name="full-screen" content="yes" /> 
  <meta name="x5-fullscreen" content="true" /> 
  <meta name="browsermode" content="application" /> 
  <meta name="x5-page-mode" content="app" /> 
  <meta name="msapplication-tap-highlight" content="no" /> 
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /> 
  <script>var imgonload =function(){};var urls = window.location.href.split("#");try{ if(/^url:.+/.test(urls[1])){window.location.href=urls[1].slice(4);}}catch(e){}var _hmt = _hmt || [];var PX_HELP_DATA=['416148489@qq.com','i2jioq5184gbv9ts2qudnsgth4',['touch','help2.0','info'],'2015/09/15 16:15:31',0]; var DOMIN = {MAIN:"http://www.paixie.net",HELP:"http://help.paixie.net",TUAN:"http://tuan.paixie.net",WAP:"http://wap.paixie.net",UNION:"http://union.weixiaodian.com",VIPSHOP:"http://go.paixie.net"};var DOMINS = {"main":"http:\/\/www.paixie.net","tuan":"http:\/\/tuan.paixie.net","help":"http:\/\/help.paixie.net","union":"http:\/\/union.weixiaodian.com","wap":"http:\/\/wap.paixie.net","touch":"http:\/\/m.paixie.net","vipshop":"http:\/\/go.paixie.net","ued":"http:\/\/ued.paixie.net"};</script> 
  <link rel="stylesheet" href="css/zip.touch.help2_0._all_.v390.css" type="text/css" /> 
  <script type="text/javascript" src="js/zepto.min.js"></script> 
  <style type="text/css">
.m_header,
.body{max-width: 640px;}
.m_header{left:50%;margin-left: -320px;}
</style> 
  <script type="text/javascript">function remReSize(){var w = $(window).width();try{w = $(parent.window).width();}catch(ex){};if(w>640){w = 640;};$('html').css('font-size',100/640*w+'px');$('#js_style_for_pc').remove();$('body').append('<style id="js_style_for_pc">.m_header{margin-left: -'+w/2+'px;}.m_menu{margin-left: -'+w/2+'px;}</style>');};remReSize();$(window).resize(remReSize);$(document).ready(function() {remReSize();});for(var i=0;i<3;i++){setTimeout(remReSize, 100*i);};</script> 
 </head> 
 <body> 
  <div class="body"> 
   <div class="m_header"> 
    <p> <a class="bt_prev" href="/help/"> <span class="prev rotate45"></span> <span class="prev rotate135"></span> </a> </p> 
    <h1 class="ellipsis bt_title"> 帮助详情 </h1> 
    <p> <a class="bt_menu" href="javascript:void(0)"> <span class="menu"></span> </a> </p> 
   </div> 
   <div class="m_menu hidden"> 
    <div> 
     <i class="rotate45"></i> 
     <a href="../Index/index.html"><span><i class="m_bg"></i></span>首页</a>
     <a href="../Index/cat.html"><span><i class="m_bg"></i></span>分类搜索</a>
     <a href="../Index/cart.html"><span><i class="m_bg"></i></span>购物车</a>
     <a href="../Index/member_index.html"><span><i class="m_bg"></i></span>我的拍鞋</a>
    </div> 
   </div> 
   <div class="lib_content" id="js_lib_content"> 
    <div class="bg_white"> 
     <div class="w600 f28 gray9"> 
      <h1 class="gray3" style="font-size:.34rem;line-height:.96rem;margin: 0;padding: 0;font-weight: normal;border-bottom: .02rem solid #eeeeee;">关于我们</h1> 
      <div class="placeholder"></div> 
      <div class="placeholder"></div> 
      <p class="p15" style="text-indent:21.0000pt;margin-top:0.0000pt;margin-bottom:6.7500pt;padding:0pt 0pt 0pt 0pt;line-height:21.7500pt;background:#FFFFFF;"> <span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">2007年拍鞋网正式上线运营，开启了国内垂直鞋类电子商务市场先河。依托晋江鞋产业链优势和中国鞋网的深度资源整合，与超过1000家鞋类品牌供应商达成战略合作伙伴协议。拍鞋网率先倡导</span><span style="color:#FF7C2C;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">“知足&middot;满足”</span><span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">全新的网购理念，致力于为用户提供最具性价比的鞋品和服务。截至2013年11月,&nbsp;拍鞋网注册会员已突破880万名，网站日均浏览量超过300万。</span><span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:微软雅黑;">
        <o:p></o:p></span> </p> 
      <p class="p15" style="text-indent:21.0000pt;margin-top:0.0000pt;margin-bottom:6.7500pt;padding:0pt 0pt 0pt 0pt;line-height:21.7500pt;background:#FFFFFF;"> <span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">2012年拍鞋网获得由美国高盛集团和海纳亚洲创投基金联合注资千万级美元的A轮融资，企业发展步入快车道。拍鞋网计划</span><span style="color:#FF7C2C;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">在未来5年内</span><span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">，打造成为深受网民喜爱的正品鞋服商城！</span> </p> 
      <p class="p15" style="text-indent:21.0000pt;margin-top:0.0000pt;margin-bottom:6.7500pt;padding:0pt 0pt 0pt 0pt;line-height:21.7500pt;background:#FFFFFF;"> <span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:'Microsoft YaHei';">2013年9月，拍鞋网正式推出开放平台，成为国内首家推出POP平台的鞋类电商，在带动福建省鞋服产业转型升级方面起到重要作用。</span><span style="color:#626161;letter-spacing:0pt;font-size:10.5pt;font-family:微软雅黑;">
        <o:p></o:p></span> </p> 
     </div> 
     <div class="placeholder"></div> 
     <div class="placeholder"></div> 
    </div> 
    <div class="placeholder"></div> 
    <div class="placeholder"></div> 
    <div class="placeholder"></div> 
    <div class="placeholder"></div> 

    <div class="placeholder"></div> 
    <div class="placeholder"></div> 
    <div class="placeholder"></div> 
    <div class="placeholder"></div> 
   </div> 
   <div class="m_footer clear"> 
    <a class="m_icon m_icon_gotop hidden" href="javascript:void(0);"></a> 
    <div class="userinfo"> 
     <a class="gray6 ellipsis" href="../Index/member_index.html">416148489</a>
     <span></span> 
     <a class="gray6" href="../Index/login.html?act=logout">退出</a>
     <span></span> 
     <a class="gray6" href="../Index/feed.html">用户反馈</a>
     <span></span> 
     <a class="gray6" href="/help/app.html#button">客户端</a> 
    </div> 
    <div class="copyright gray9">
     &copy; 2007-2015 Paixie All Rights Reserved
     <br />闽B2-20110084
    </div> 
   </div> 
   <div style="display:none;"> 
   </div> 
  </div> 
  <script type="text/javascript" src="js/zip.touch.help2_0._all_.v36.js"></script> 
  <script type="text/javascript" src="js/jweixin-1.0.0.js"></script>
 </body>
</html>