<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/editor/kindeditor.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#form1').submit(function(){
                $.post('{:U("Admin/Sale/add")}',$('#form1').serialize(),function(res){
                    alert(res)
                })
            })
        })
    </script>
<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    <div id="usual1" class="usual"> 
  	<div id="tab1" class="tabson">

    <ul class="forminfo">
        <form action="" method="post" id="form1">
            <li><label>活动名称<b>*</b></label><input name="catename" type="text" class="dfinput" value=""  style="width:518px;"/></li>
            <li><label>活动规则<b>*</b></label><input name="rules" type="text" class="dfinput" value=""  style="width:518px;"/></li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="点击添加"/></li>
        </form>
    </ul>
    </div>
       
	</div> 
 
	
    
    
    
    
    
    </div>


</body>

</html>
