<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/editor/kindeditor.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/time/abc/timer/WdatePicker.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Admin/js/jquery.form.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.validate.min.js" type="text/javascript"></script>


    <style>
        input.error { border: 1px solid #EA5200;background: #ffdbb3;}
        div.error{
            display:inline-block ;
            color:#ff0300;
            font-weight: bold;
            font-size: 14px;
        }
        div.ok {
            color:green;
        }
    </style>

    <script type="text/javascript">
        $(function(){
            var validate=$('#form1').validate({
                rules:{
                    catename: {

                        remote: {
                            url: '{:U("Brand/chkBname")}',
                            type: 'post'
                        }
                    }
                },
                messages:{
                    catename: {
                        remote: '只能编辑商城已有品牌'
                    }
                },
                success: function(div) {
                    div.addClass("ok").text('通过验证');
                },
                validClass:'ok',
                errorElement:'div'
            })



            $('.btn').click(function(){
                if(validate.form()) {
                    $("#form1").ajaxSubmit(function (res) {
                        if (res.status == 1) {
                            layer.open({
                                icon: 1,
                                content: res.info,
                                yes: function () {
                                    location.href = "{:U('Brand/index')}";
                                }
                            })
                        }
                    })
                }
                return false;

            })
        })


    </script>
    <script type="text/javascript">
        KE.show({
            id : 'content7',
            cssPath : './index.css'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
            $(".select2").uedSelect({
                width : 167
            });
            $(".select3").uedSelect({
                width : 100
            });
        });
    </script>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">系统设置</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab1" class="tabson">

            <ul class="forminfo">
                <form action="{:U('Brand/sureEdit')}" method="post" id="form1" enctype="multipart/form-data">
                    <li><label>品牌名称<b>*</b></label><input name="catename" type="text" class="dfinput" placeholder="{$bname}"  style="width:518px;"/></li>
                    <li><label>品牌类型<b>*</b></label><input name="btype" type="text" class="dfinput" placeholder="{$brandType}"/><!--style="width:518px;"--></li>

                    <li><label>品牌logo<b>*</b></label><input name="rules" type="file" class="dfinput" /><!--style="width:518px;"--></li>
                    <li>
                        <label>添加时间：</label>
                        <input id="d11" name="time1" value="" type="text" onClick="WdatePicker()" style="width: 120px;height: 25px;border: 1px solid #cccccc;" placeholder="{$addTime}"/>
                    </li>
                    <li><label>&nbsp;</label><input name="" type="button" class="btn" value="确认修改"/></li>
                </form>
            </ul>
        </div>

    </div>
</div>
</body>
</html>
