<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        #page a,#page span{
            display: inline-block;
            width:18px;
            height:18px ;
            padding: 5px;
            margin: 2px;
            text-decoration: none;
            text-align: center;
            line-height: 18px;
            background: #f0ead8;
            color:#000000;
            border: 1px solid #c2d2d7;
        }
        #page a:hover{
            background: #333;
            color:#fff;
        }

        #page span{
            background: #333;
            color: #fff;
            font-weight: bold;
        }
    </style>
<title>列表页</title>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
<!--<script type="text/javascript" src="__PUBLIC__/Pay/map/jquery.map"></script>-->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.1.8.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/editor/kindeditor.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/time/abc/timer/WdatePicker.js"></script>

    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>

<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>

<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345
	});
	$(".select2").uedSelect({
		width : 167
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    </div>

    <div class="formbody">


    <div id="usual1" class="usual">
  	<div id="tab2" class="tabson">

        <form action="{:U('Category/index')}" method="get">
            <ul class="seachform">
                <li><label>按名称查询</label><input name="keywords" type="text" value="{$keywords}" class="scinput" /></li>
                <li>
                    <label>按时间时间：</label>
                    <input id="d11" name="time1" value="" type="text" onClick="WdatePicker()" style="width: 120px;height: 25px;border: 1px solid #cccccc;"/>
                    <span style="display: inline-block;">-</span>
                    <input class="Wdate"  name="time2" value="" type="text" id="d15" onFocus="WdatePicker({isShowClear:false,readOnly:true})" style="width: 120px;height: 25px;border: 1px solid #cccccc;"/>
                </li>
                <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询"/></li>
                <li><label>&nbsp;</label>
                    <input type="button" class="scbtn" id="exportdata" value="Excel表导出" style="width: 90px;height: 35px;margin:0;padding: 0;"/></li>
            </ul>
        </form>

    <table class="tablelist">
    	<thead>
    	<tr>
            <th><input name="" type="checkbox" value="" checked="checked"/></th>
            <th>编号<i class="sort"><img src="__PUBLIC__/Admin/images/px.gif" /></i></th>
            <th>分类名称</th>
            <th>分类Id</th>
            <th>上级分类</th>
            <th>分类父Id</th>
            <th>添加时间</th>
            <th>是否展示</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <volist name="list1" id="date" key="k">
                <tr>
                    <td><input name="" type="checkbox" value="" /></td>
                    <td>{$k+$firstRow}</td>
                    <td>{$date.cname}</td>
                    <td>{$date.id}</td>
                    <td>{$list3[$k-1]['path']|substr=0,-2}</td>
                     <td>{$date.pid}</td>
                    <td>{$date.addtime|date='Y-m-d',###}</td>
                    <td class="zhuangtai">{$date['show']?'展示':'下架'}</td>
                    <td class="par">
                        <a href="javascript:;" pid="{$date['pid']}" id="{$date['id']}" class="tablelink click">{$date['show']?'下架':'展示'}</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{:U('Admin/Category/editorCate',array('id'=>$date['id']))}" class="tablelink">编辑</a>
                    </td>
                </tr>
            </volist>

        </tbody>
    </table>

       <div class="pagin">
        <div class="message">共<i class="blue">{$count}</i>条记录，当前显示第&nbsp;<i class="blue">{$currentPage}</i>页</div>
        <ul class="paginList">
            <div id="page">{$page}</div>
        </ul>
    </div>

	</div>

    </div>
</div>

</body>
<script type="text/javascript">
    $("#usual1 ul").idTabs();
</script>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>
</html>

<script>
    $(function(){
        $("#exportdata").click(function(){
            $.post("{:U('Admin/Category/export')}?time1={$time1}&time2={$time2}&keywords={$keywords}",'',function(res){
                if(res.status==1){
                    window.open("{:U('Admin/Category/export')}?time1={$time1}&time2={$time2}&keywords={$keywords}");
                }else{
                    layer.msg(res.info,{icon:5});
                }
            })
        })
    })


    $(function(){
        $('.click').click(function(){
            id=$(this).attr('id');
            pid=$(this).attr('pid');
            cur=$(this);
            $.post("{:U('Admin/Category/updateshow')}",{id:id,pid:pid},function(response){
                if(response.status){
                    if(response.info==1){
                        cur.text('下架');
                        cur.parents('.par').prev('.zhuangtai').text('展示');
                        layer.msg('展示成功',{icon:1},function(){
                            location='{:U("Category/index")}';
                        });
                    }if(response.info==0){
                        cur.text('展示');
                        cur.parents('.par').prev('.zhuangtai').text('下架');
                        layer.msg('下架成功',{icon:1},function(){
                            location='{:U("Category/index")}';
                        });
                    }
                }
            })
        })
    })



</script>
