<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>试题发布</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/webuploader/webuploader.css" />-->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.1.8.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/select-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.idTabs.min.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/js/kindeditor/kindeditor-all.js"></script>-->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.form.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/js/webuploader/webuploader.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Admin/js/upload.js"></script>-->

    <script type="text/javascript">


    </script>


</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">试题管理</a></li>
        <li><a href="#">试题发布</a></li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual">
        <div id="tab1" class="tabson">
            <form action="{:U('Admin/Test/addtest')}" id="form1" method="post" enctype="multipart/form-data">
                    <ul class="forminfo">
                        <li>
                            <label>导入Excel表<b>*</b></label>
                            <input style="width: 200px;height:30px;padding-top: 8px;float: left;" name="excelname" type="file" />
                            <p style="float: left;padding-top: 10px;color:red">插入的表格的后缀必须是.xls</p>
                        </li>

                        <li>
                            <label>&nbsp;</label>
                            <input style="margin-top: 10px;" type="button" class="btn" value="导入"/>
                        </li>
                    </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>


<script>
    $('.btn').click(function(){
        $('#form1').ajaxSubmit(function(res) {
            if (res.info == 0) {
                layer.msg('您上传的文件不能为空');
            }else if(res.info==1){
                layer.msg('您上传的文件类型不正确，请重新上传');
            }else if(res.info==2){
                layer.msg('上传失败');
            }
        },'json')
    })

</script>
