<!DOCTYPE html>
<html>
<head>
    <title>足迹</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//ued.paixie.net" />
    <link rel="dns-prefetch" href="//img-cdn2.paixie.net" />
    <link rel="icon" href="__PUBLIC__/Mobile/images/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="__PUBLIC__/Mobile/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="__PUBLIC__/Mobile/images/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telphone=no, email=no" />
    <meta name="renderer" content="webkit" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="browsermode" content="application" />
    <meta name="x5-page-mode" content="app" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
    <script>var imgonload =function(){};var urls = window.location.href.split("#");try{ if(/^url:.+/.test(urls[1])){window.location.href=urls[1].slice(4);}}catch(e){}var _hmt = _hmt || [];var PX_HELP_DATA=['416148489@qq.com','i2jioq5184gbv9ts2qudnsgth4',['touch','cart2.0','index'],'2015/09/15 16:00:42',0]; var DOMIN = {MAIN:"http://www.paixie.net",HELP:"http://help.paixie.net",TUAN:"http://tuan.paixie.net",WAP:"http://wap.paixie.net",UNION:"http://union.weixiaodian.com",VIPSHOP:"http://go.paixie.net"};var DOMINS = {"main":"http:\/\/www.paixie.net","tuan":"http:\/\/tuan.paixie.net","help":"http:\/\/help.paixie.net","union":"http:\/\/union.weixiaodian.com","wap":"http:\/\/wap.paixie.net","touch":"http:\/\/m.paixie.net","vipshop":"http:\/\/go.paixie.net","ued":"http:\/\/ued.paixie.net"};</script>
    <link rel="stylesheet" href="__PUBLIC__/Mobile/css/zip.touch.cart2_0._all_.v39013.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Mobile/js/jquery.min.1.8.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Mobile/js/layer_mobile/layer.js"></script>
    <style type="text/css">
        .m_header,
        .body{max-width: 640px;}
        .m_header{left:50%;margin-left: -320px;}
    </style>
    <script type="text/javascript">function remReSize(){var w = $(window).width();try{w = $(parent.window).width();}catch(ex){};if(w>640){w = 640;};$('html').css('font-size',100/640*w+'px');$('#js_style_for_pc').remove();$('body').append('<style id="js_style_for_pc">.m_header{margin-left: -'+w/2+'px;}.m_menu{margin-left: -'+w/2+'px;}</style>');};remReSize();$(window).resize(remReSize);$(document).ready(function() {remReSize();});for(var i=0;i<3;i++){setTimeout(remReSize, 100*i);};</script>
</head>
<body>
<div class="body">
    <div class="m_header">
        <p> <a class="bt_prev" href="javascript:window.history.back();void(0);"> <span class="prev rotate45"></span> <span class="prev rotate135"></span> </a> </p>
        <h1 class="ellipsis bt_title"> 足迹 </h1>
        <p> <a class="bt_menu" href="javascript:void(0)"> <span class="menu"></span> </a> </p>
    </div>
    <div class="m_menu hidden">
        <div>
            <i class="rotate45"></i>
            <a href="{:U('Mobile/Index/index')}"><span><i class="m_bg"></i></span>首页</a>
            <a href="{:U('Mobile/Category/index')}"><span><i class="m_bg"></i></span>分类搜索</a>
            <a href="{:U('Mobile/MyCart/mycart')}"><span><i class="m_bg"></i></span>购物车</a>
            <if condition="$Think.session.mid gt '0'">
                <a href="{:U('Mobile/Member/index')}"><span><i class="m_bg"></i></span>用户中心</a>
                <else/>
                <a href="{:U('Mobile/Login/Dologin')}"><span><i class="m_bg"></i></span>用户中心</a>
            </if>
        </div>
    </div>
    <div class="lib_content" id="js_lib_content">
        <!--购物车有商品-->
        <div class="car_opera">
            <label class="m_radio m_order_checkbox"> <input class="js_select_all" type="checkbox" /> </label>
            <label for="select_all" class="gray6">全选</label>
            <a href="javascript:;" style="float: right;color:black;" class="alldelete">全部删除</a>
        </div>
        <form id="js-form" action="" method="post">
            <volist name="footInfo" id="info" empty="$empty">
                <div class="goodsbox">
                    <ul class="goodslist">
                        <li>
                            <div class="img">
                                <label class="m_radio m_order_checkbox m_checked">
                                    <input type="checkbox" itemid="10780995380" name="gid[{$info.gid}{$info.ml}]" value="{$info.gid}"/>
                                </label>
                                <div class="img_type">
                                    <img class="img180" src="/Uploads/{$info.imageurl}{$info.imagename}"/>
                                </div>
                            </div>
                            <div class="info">
                                <p class="title"><a class="name gray3" href="{:U('Mobile/Goods/goodsdetail',array('gid'=>$info['gid']))}">{$info.goodsname}</a></p>
                            </div>
                            <div class="price">
                                <span class="oof">￥</span>
                                <span class="js-price">{$info.saleprice}</span>
                                <br />

                                <a href="javascript:;" gid="{$info.gid}" class="delete" style="color: black;margin-top: 15px;display: inline-block;">删除</a>
                            </div>
                            <div class="clear"></div> <p class="additional gray9 text-left red">【该商品不支持货到付款】</p> </li>
                    </ul>
                </div>
            </volist>
            <div class="fixed_price" style="display: none;">
                <div class="price_info">
                    <p class="total" style="padding: 0;line-height: 40px;height: 40px;">
                        <label class="m_radio m_order_checkbox"> <input class="js_select_all" type="checkbox" style="display: none;"/></label>
            </div>
        </form>
    </div>
    <script>
        $(".delete").click(function(){
            if($('.m_radio ').hasClass('m_checked')){
                var gid=$(this).attr('gid');
                var a=$(this);
                $.get('{:U("Mobile/Footprint/deletefoot")}?gid='+gid,function(res){
                    if(res.status==1){
                        layer.open({
                            content:'删除成功'
                            ,skin:'msg'
                            ,time:5
                            ,success:function(){
                                a.parents('li').hide();
                            }
                        })
                    }
                })
            }else{
                layer.open({
                    content:'请选择后再删除'
                    ,skin:'msg'
                    ,time:5
                })
            }
        })
        $(".alldelete").click(function(){
            if($('.m_radio ').hasClass('m_checked')){
                $.get('{:U("Mobile/Footprint/deleteAll")}',function(res){
                    if(res.status==1){
                        layer.open({
                            content:'删除成功'
                            ,skin:'msg'
                            ,time:3
                            ,end:function(){
                                location='{:U("Footprint/footprint")}'
                            }
                        })
                    }
                })
            }else{
                layer.open({
                    content:'请选择后再删除'
                    ,skin:'msg'
                    ,time:5
                })
            }
        })
    </script>
    <div class="m_footer clear">
        <a class="m_icon m_icon_gotop hidden" href="javascript:void(0);"></a>
        <include file="public/footer"/>
    </div>
    <div style="display:none;">
    </div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
</div>
<script type="text/javascript" src="__PUBLIC__/Mobile/js/zip.touch.cart2_0._all_.v3624.js"></script>
</body>
</html>
<script type="text/javascript">
    $(function(){
        $('.tocartdelete').click(function(){
            //得到购物车中商品的id
            a=$(this);
            id=$(this).attr('cid');
            $.post('{:U("Mobile/MyCart/tocartdelete")}',{cid:id},function(resp){
                if(resp.status){
                    layer.open({
                        content:'删除成功'
                        ,skin: 'msg'
                        ,time: 2//2秒后自动关闭
                        ,style:'line-heght:100px;'
                        ,end:function(){
                            a.parents('.goodsbox').hide();
                        }
                    });
                }else{
                    layer.open({
                        content:'请稍后再进行删除'
                        ,skin: 'msg'
                        ,time: 2//2秒后自动关闭
                        ,style:'line-heght:100px;'
                    });
                }
            },'json')
        })
    })

</script>